
.other {
    min-width: 60%;
    min-height: 100vh;
    margin: 5% 20%;
}

.other-header__container {
    margin-bottom: 3rem;
}

.other-header__title {
    margin-bottom: 1rem;
}

.other-header__subtitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--muted-text);
    font-weight: normal;
}

.about__title {
    margin-bottom: 1rem;
}

.about__content {
    text-align: justify;
    line-height: 2rem;
}

.about__content:first-line {
    margin-left: 1rem;
}