@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    /* your roles */
    --bg:         oklch(25%   0       0deg);   /* #333333  */
    --text:       oklch(98%   0.005   0deg);   /* #F4F4F4  */
    --primary:    oklch(95%   0.06   200deg);  /* #C3EFFF  */
    --highlight:  oklch(95%   0.11   287deg);  /* #D9C1FF  */
    --border:     oklch(40%   0.005   0deg);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: var(--bg);
}

p,
a,
h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
}

/* Navbar section */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__profile-image {
    width: 2em;
    height: 2em;
    padding: 20px 0;
    border-radius: 35%;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--border);
    border-radius: 25px;
    padding: 0 1rem;
    background: linear-gradient(to top, var(--bg), var(--bg));
}

.navbar__links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navbar__links li {
    padding: 0.35rem 2rem;
}

.navbar__links a {
    text-decoration: none;
    color: var(--text);
    font-family: 'JetBrains Mono Thin', sans-serif;
    font-size: 14px;
    padding: 0 0.5rem;
}

.navbar__link--active {
    display: inline-flex;
    align-items: center;
}

.navbar__link--active a {
    display: inline-flex;
    align-items: center;
    color: var(--primary);
}

.navbar__link--active span {
    color: var(--primary);
}

.navbar__link--active svg {
    margin-right: 0.5rem;
    color: var(--primary);
}


/* Hero Section */

/* IMPORTANT: FOR NOW, FOCUS ON HEADER */

.hero {
    display: none; /* FOR NOW. Display: flex as default */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
}

.hero__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
}

.hero__image {
    width: 50%;
    height: 50%;
}

.hero__text-container h1 {
        font-family: 'JetBrains Mono', sans-serif;
    font-size: 20px;
}