.floating-button-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.floating-button {
    color: var(--text);
    background-color: var(--bg);
    padding: 0.5rem;
    border: 2px solid  var(--border);
    border-radius: 25%;
}

.floating-button:hover {
    cursor: pointer;
}

.floating-button svg {
    width: 1.5rem;
    height: 1.5rem;
}
