
.article-post__content {
    margin: 5% 1rem;
    padding: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (min-width: 768px) {

    .article-post {
        display: flex;
        flex-direction: row;
    }

    .article-post__content {
        width: 50%;
        border: 1px solid var(--border);

        margin: 5% 0 5% 1rem;
        padding: 10%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}