
.article-post__body {
    text-align: left;
    display: block;
    font-size: 0.9rem;
    color: var(--text);
}

.article-post__body ul,
.article-post__body ol {
    margin-left: 1rem;
}

.article-post__body li,
.article-post__body p{
    color: var(--text);
    font-family: Montserrat, sans-serif;
    line-height:  1.75rem;
    margin-bottom: 1.75rem;
}

.article-post__body h1,
.article-post__body h2,
.article-post__body h3,
.article-post__body h4,
.article-post__body h5,
.article-post__body h6
{
    margin-bottom: 1.5rem;
}


.article-post__body img {
    max-width: 80%;
    max-height: 80%;
}

@media (min-width: 768px) {

    .article-post__body {
        font-size: 1rem;
    }
}