
.article__header {
    margin-bottom: 2rem;
}

.header__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.header__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.subtitle__author {
    color: var(--muted-text);
    font-size: 0.9rem;
    font-family: Montserrat, sans-serif;
    text-wrap: nowrap;
}

.subtitle-date__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtitle-date__clock-icon {
    width: 0.9rem;
    height: 0.9rem;
    color: var(--muted-text);
    margin-right: 0.5rem;
}

.subtitle__date {
    font-size: 0.9rem;
    color: var(--muted-text);
    font-family: Montserrat, sans-serif;
    text-wrap: nowrap;
}

@media (min-width: 768px) {

    .subtitle__author{
        font-size: 1rem;
    }

    .subtitle-date__clock-icon {
        width: 1rem;
        height: 1rem;
    }

    .subtitle__date {
        font-size: 1rem;
    }
}
