
.articles {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;

    /*border: 1px solid white;*/
}

.articles__list {
    display: block;
    /*border: 1px solid blue;*/
}

.articles__item {
    /*font-size: 1rem;*/
    text-decoration: none;
    border-radius: 1rem;
    display: block;
    padding: 1.5rem;
    /*border: 1px solid white;*/
    position: relative;
}

.articles__item h1 {
    font-size: 1.5rem;
    color: var(--text);
    font-weight: normal;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0.5rem;
}

.article-date__container {
    display: flex;
    align-items: center;
}

.article-date__clock-icon {
    color: var(--muted-text);
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.article-date__date {
    color: var(--muted-text);
    font-size: 0.85rem;
}

.articles-item__backdrop {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 1rem;
    background-color: var(--lighter-bg);
}

@media (min-width: 768px) {
    .articles__list {
        margin: 0 20%;
    }

    .articles__scroll-up {
        bottom: 5%;
        right: 5%;
    }
}