/* Bottom Nav Section */

.bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav__title {
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    margin: 2rem 0;
}

.bottom-nav__list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 4rem;
}

.bottom-nav__list li {
    width: 100%;
    padding: 0.5rem 0;
    margin: 1rem 0;;
}

.bottom-nav__list svg{
    width: 1.25rem;
    height: 1.25rem;
}

.bottom-nav__list li a {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
}


/* bottom-nav button styles */
.bottom-nav__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin: 3rem 0;
}

.bottom-nav__button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bottom-nav__button svg {
    width: 1rem;
    height: 1rem;
    color: var(--bg);
    margin-right: 6px;
}

.bottom-nav__button span {
    color: var(--bg);
    font-size: 14px;
}

.bottom-nav__like {
    background-color: var(--like-color);
}

.bottom-nav__comment {
    background-color: var(--comment-color);
}


@media (min-width: 768px) {
    .bottom-nav__list {
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .bottom-nav__list li {
        padding: 0.5rem 0 0.5rem 0.5rem;
        width: auto;
    }

    .bottom-nav__list li a::before {
        content: '';
        display: inline-block;
        width: 0.25rem;
        height: 0.25rem;
        background: var(--muted-text);
        border-radius: 50%;
        margin: 0 1rem;
    }

    .bottom-nav__list li:first-child a::before {
        display: none;
    }

    .bottom-nav__list a span {
        font-size: 14px;
    }
}


