
.loading-screen {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-screen__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@keyframes loading-screen {
    0% {
        transform: translateY(-3rem);
    }
    100% {
        transform: translateY(0);
    }
}


.loading-screen__icon {
    width: 1rem;
    height: 1rem;
    background-color: var(--muted-text);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    animation: loading-screen 0.4s ease-in-out infinite alternate;
}
