/*
This file defines the overall color scheme of the website
OKLCH is used because it's just ~better~
 */

:root {
    --bg: oklch(25% 0 0deg);
    --lighter-bg: oklch(35% 0 0deg); /* slightly lighter */
    --text: oklch(98% 0.005 0deg);
    --muted-text: oklch(85% 0.005 0deg);
    --primary: oklch(95% 0.06 200deg);
    --highlight: oklch(95% 0.11 287deg);
    --border: oklch(40% 0.005 0deg);
    --like-color: oklch(0.702 0.174 31.754);
    --comment-color: oklch(0.804 0.112 154.773);
}