
.common-error-page {
    min-height: 73vh;
    min-width: 80%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.common-error-page__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.common-error-page__content {
    color: var(--border);
    word-break: break-word;
}

.common-error-page__icon {
    color: var(--border);
    min-width: 50px;
    min-height: 50px;
}

@media (min-width: 768px) {
    .common-error-page {
    }
}