
.thoughts {
    margin: 5%;
    min-height: 76vh;
}

.thoughts-title__container {
    margin-bottom: 3rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}

.thoughts__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.thoughts__subtitle {
    color: var(--muted-text);
    font-weight: normal;
    font-size: 1.25rem;
}

.thoughts__list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;

    /*border: 1px solid white;*/
}

@media (min-width: 768px) {

    .thoughts {
        margin: 5% 10%;
    }

    .thoughts-title__container {
        width: 60%;
        margin-top: 2rem;
    }

    .thoughts__list {
        width: 60%;
        align-items: flex-start;
        padding: 0 1rem;
    }

}