
.thoughts {
    margin: 5% 10%;
}

.thoughts-title__container {
    margin-bottom: 3rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}

.thoughts__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.thoughts__subtitle {
    color: var(--muted-text);
    font-weight: normal;
    font-size: 1.25rem;
}

.thoughts__list {
    width: 60%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}