/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10%;
}

.hero__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.hero__image {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
}

.hero__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__text {
    font-weight: normal;
    text-align: center;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 30px;
    padding: 0.5rem 0;
}

.hero__text span {
    font-size: 25px;
    display: inline-flex;
}

.hero__highlight {
    display: inline-block;
    white-space: nowrap;
    text-wrap: nowrap;
}

.hero__text-container .hero__text--muted {
    color: var(--muted-text);
    font-size: 14px;
}

/* Hero icon styles */
.hero__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.hero__links a {
    text-decoration: none;
}

.hero__icon{
    width: 1.15rem;
    height: 1.15rem;
    color: var(--text);
    padding: 0.5rem;
    border-radius: 100%;
    margin: 0.5rem 2rem 1.5rem;
}

.mail-icon {
    background: #e6603c;
}

.discord-icon {
    background: #5865F2;
}

.github-icon {
    background: #040505;
}


/* Subtle scroll subsection */

.subtle-scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes bobbing {
    from { transform: translateY(10px); }
    to { transform: translateY(0); }
}

.subtle-scroll__icon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text);
    animation: bobbing 0.5s infinite alternate;
}

/* Desktop styles (Hero) */

@media (min-width: 768px) {

    .hero {
        height: 100dvh;
        margin-top: -72px; /* Adjusted to account for navbar height */
        padding: 10dvh 10% 0;
    }

    .hero__container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        width: 100%;
        margin: 0;
    }

    .hero__image {
        margin: 0;
        width: 18rem;
        height: 18rem;
    }

    .hero__text-container {
        display: block;
    }

    .hero__text {
        font-style: normal;
        text-align: left;
        font-size: 36px;
    }

    .hero__text span {
        font-size: 28px;
    }

    .hero__text--muted {
        font-size: 28px;
    }

    .hero__links {
        display: block;
        text-align: left;
        justify-content: space-around;
    }

    .hero__icon {
        margin: 1rem 4rem 0 0.5rem;
    }

    .subtle-scroll {
    }
}
