
/* Overlay component styles */

.overlay{
    content: '';
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.overlay--visible{
    display: block;
}