name: docker.yml
on:
  push:
    branches:
      - "main"

jobs:
  push-to-docker-hub:
    runs-on: ubuntu-latest
    steps:
      - name: "dockerize the app"
        run: docker build -t nightfall-is-a-dev:latest --build-arg VITE_API_URL=${{ vars.VITE_API_URL }}

      - name: "tag the image"
        run: docker tag nightfall-is-a-dev:latest nightfall3594/nightfall-is-a-dev:latest

      - name: "login to docker hub"
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: "push the image"
        run: docker push nightfall3594/nightfall-is-a-dev:latest