name: docker.yml
on:
  push:
    branches:
      - "main"

  workflow_dispatch:

jobs:
  push-to-docker-hub:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout repo"
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: "dockerize the app"
        run: docker build -t nightfall-is-a-dev:latest --build-arg VITE_API_URL=${{ vars.VITE_API_URL }} .

      - name: "get app version"
        id: app-version
        run: echo "version=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT

      - name: "tag the image"
        run: |
          docker tag \
          nightfall-is-a-dev:latest \
          nightfall3594/nightfall-is-a-dev:${{ steps.app-version.outputs.version }}-${{ github.sha }}

      - name: "login to docker"
        run: |
          echo "${{ secrets.DOCKER_TOKEN }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" \
            --password-stdin

      - name: "push the image"
        run: docker push \
          nightfall3594/nightfall-is-a-dev:${{ steps.app-version.outputs.version }}-${{ github.sha }}
